<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FleetMonAPIBaseAddress" value="https://www.fleetmon.com/api/p/personal-v1"/>
    <add key="FleetMonAPIUser" value="djangojazz"/>
    <add key="FleetMonAPIKey" value="Dontyouwanttoknow"/>
  </appSettings>
  <connectionStrings>
    <add name="Ships" connectionString="Server=.;Database=Ships;User Id=sqluser;Password=pa55word;" />
  </connectionStrings>
</configuration>